@import url("reset.css");
@import url("common.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}
body {
	font-family: "Inter", sans-serif;
	color: #111;
}
[class*="__container"] {
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}
.header__title {
	margin-bottom: 30px;
}
.page__main {
	margin-bottom: 30px;
}
.main__content:not(:last-child) {
	margin-bottom: 30px;
}
.main__title {
	margin-bottom: 30px;
}
.main__wrapper {
	border: 5px solid green;
	border-radius: 32px;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}
.block1,
.block4,
.block7,
.block10,
.block13,
.block15 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	position: absolute;
	top: 0;
	left: 0;
}
.block1__text,
.block4__text,
.block7__text,
.block10__text,
.block13__text {
	color: #fff;
	font-weight: 700;
	text-align: center;
	font-size: 24px;
	padding-top: 150px;
}
.block2__text,
.block3__text,
.block5__text,
.block6__text,
.block8__text,
.block9__text,
.block11__text,
.block12__text,
.block14__text,
.block15__text,
.block16__text,
.block17__text,
.block18__text,
.block19__text,
.block20__text,
.block21__text {
	color: #fff;
	font-weight: 700;
	text-align: center;
	font-size: 24px;
	padding-top: 100px;
}
.block1:hover {
	transform: translate(50px, 50px);
	transition: all 0.8s;
}
.block2,
.block5,
.block8,
.block11,
.block14 {
	width: 200px;
	height: 200px;
	border-radius: 24px;
	background-color: blue;
	position: absolute;
	top: 0;
	right: 0;
}
.block2:hover {
	transform: translateX(-150px);
	transition: all 0.8s;
}
.block3,
.block6,
.block9,
.block12 {
	width: 200px;
	height: 200px;
	border-radius: 24px;
	background-color: green;
	position: absolute;
	bottom: 0;
	right: 0;
}
.block3:hover {
	transform: translateY(-50px);
	transition: all 0.8s;
}
.block4:hover {
	transform: scale(1.1);
	transition: all 0.8s;
}
.block5:hover {
	transform: scale(-0.5);
	transition: all 0.8s;
}
.block6:hover {
	transform: scale(1,-0.5);
	transition: all 0.8s;
}
.block7:hover {
	transform: rotate(135deg);
	transition: all 0.8s;
}
.block8:hover {
	transform: rotateX(100deg);
	transition: all 0.8s;
}
.block9:hover {
	transform: rotateY(-100deg);
	transition: all 0.8s;
}
.block10:hover {
	transform: skew(150deg, 50deg);
	transition: all 0.8s;
}
.block11:hover {
	transform: skewX(35deg);
	transition: all 0.8s;
}
.block12:hover {
	transform: skewY(-35deg);
	transition: all 0.8s;
}
.block13:hover {
	transform: translate(80px, 80px) scale(0.8) rotate(-45deg);
	transition: all 0.8s;
}
.block14:hover {
	transform: translate(100px, 100px) scale(1.05) rotate(-135deg);
	transition: all 0.8s;
}
.block15 {
	transform-origin: 50%;
	transform: rotate(0deg);
}
.block15:hover {
	transform: rotate(45deg);
	transition: all 0.8s;
}
.wrapper-main {
	border: 5px solid green;
	border-radius: 32px;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	perspective-origin: center;
	perspective: 800px;
}
.block16 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	transform: rotateX(45deg);
}
.block16:hover {
	transform: rotate(135deg);
	transition: all 0.8s;
}
.block17 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	transform: translate3d(0, 0, 0);
}
.block17:hover {
	transform: translate3d(100px,-20px,50px);
	transition: all 0.8s;
}
.block18 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	transform: scale3d(1,1,1);
}
.block18:hover {
	transform: scale3d(1.5,1.5,2);
	transition: all 0.8s;
}
.block19 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	transform: rotate3d(1,1,1,0deg);
}
.block19:hover {
	transform: rotate3d(1,1,0.5,90deg);
	transition: all 0.8s;
}
.block20 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	transform: translate3d(0,0,0) scale3d(1,1,1) rotate3d(1,1,1,0deg);
}
.block20:hover {
	transform: translate3d(50px,50px,100px) scale3d(1.05,1.05,1) rotate3d(1,1.5,1.5,45deg);
	transition: all 0.8s;
}
.wrapper-main {
	border: 5px solid green;
	border-radius: 32px;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	perspective: 800px;
	transform-style: preserve-3d;
}
.block21 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	transform: rotateY(0deg);
}
.block21:hover {
	transform: rotateY(-25deg);
	transition: all 0.8s;
}
.block21 {
	width: 300px;
	height: 300px;
	border-radius: 24px;
	background-color: rgb(255, 174, 0);
	transform: rotateY(0deg);
}
.block21:hover {
	transform: rotateY(-25deg);
	transition: all 0.8s;
}
.wrapper-main {
	perspective: 300px;
	transform-style: preserve-3d;
}
.wrapper-main__body {
	position: relative;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
}
.block22,
.block23 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 32px;
	text-align: center;
	top: 150px;
	left: 150px;
}
.block22 {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: rgb(255, 174, 0);
	backface-visibility: hidden;
}
.block23 {
	transform: rotateY(-180deg);
	background-color: rgba(77, 175, 110, 0.5);
}
.wrapper-main:hover .wrapper-main__body {
	transform: rotateY(-180deg);
}
.page__car {
	background: url("../img/forest-road.webp") 0 0 / cover no-repeat;
	height: 100vh;
	width: 100%;
	position: relative;
	perspective-origin: center;
	perspective: 800px;
	z-index: 3;
}
.car__wheels {
	width: 1200px;
	height: 500px;
	position: relative;
	z-index: 7;
}
.wheels {
	transform: translate(650px, 850px);
}
.wheels__round1 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #222;
	border-radius: 50%;
	outline: 4px dashed #000;
	border: 2px solid #555;
	width: 70px;
	height: 70px;
	transform: rotate3d(1,1,1,0deg);
}
.wheels__round1:hover {
	transform: scale(1.15,1.15);
}
.wheels__round1-item {
	position: absolute;
	top: 18px;
	left: 18px;
	background-color: #7c7c7c;
	border-radius: 50%;
	border: 5px solid #ece800;
	width: 30px;
	height: 30px;
}
.wheels__round1-items {
	position: absolute;
	top: 8px;
	left: 8px;
	background-color: #000;
	border-radius: 50%;
	width: 5px;
	height: 5px;
}
.wheels__round2 {
	position: absolute;
	top: 0;
	left: 400px;
	background-color: #222;
	border-radius: 50%;
	outline: 4px dashed #000;
	border: 2px solid #555;
	width: 70px;
	height: 70px;
}
.wheels__round2:hover {
	transform: scale(1.15,1.15);
}
.wheels__round1-item {
	position: absolute;
	top: 18px;
	left: 18px;
	background-color: #7c7c7c;
	border-radius: 50%;
	border: 5px solid #ece800;
	width: 30px;
	height: 30px;
}
.wheels__round1-items {
	position: absolute;
	top: 8px;
	left: 8px;
	background-color: #000;
	border-radius: 50%;
	width: 5px;
	height: 5px;
}
.page__wrap {
	perspective: 800px;
	perspective-origin: center;
	position: relative;
	z-index: 1;
}
.page__carcase {
	position: relative;
	background: linear-gradient(45deg, rgba(32,173,1,0) 0%, rgba(48,211,59,1) 100%),
					linear-gradient(135deg, rgba(32,173,1,1) 100%, rgba(48,211,59,0) 0%);
	width: 600px;
	height: 150px;
	border-radius: 20px 20px 120px 120px;
	left: 580px;
	top: 240px;
	z-index: 1;
	transform: rotateX(45deg);
}
.page__carcase1 {
	position: relative;
	background: linear-gradient(45deg, rgba(32,173,1,0) 0%, rgba(48,211,59,1) 100%),
					linear-gradient(135deg, rgba(32,173,1,1) 100%, rgba(48,211,59,0) 0%);
	width: 450px;
	height: 150px;
	border-radius: 180px 180px 0px 0px;
	left: 650px;
	top: -30px;
	z-index: 10;
	transform: rotateX(45deg);
	z-index: 1;
}
.page__block {
	position: relative;
	width: 600px;
	margin: 0 auto;
}
.page__long {
	background: url("../img/ellipse.svg") 0 0 / contain no-repeat;
	width: 105px;
	height: 105px;
	position: absolute;
	top: 184px;
	left: 0px;
	z-index: 3;
	transform: rotate(1deg);
}
.long__items {
	background: url("../img/ellipse2.svg") 0 0 / contain no-repeat;
	width: 98px;
	height: 105px;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 3;
	transform: rotate(2deg);
}
.page__long1 {
	background: url("../img/ellipse.svg") 0 0 / contain no-repeat;
	width: 105px;
	height: 105px;
	position: absolute;
	top: 184px;
	right: 97px;
	z-index: 3;
	transform: rotate(-10deg);
}
.long__items2 {
	background: url("../img/ellipse2.svg") 0 0 / contain no-repeat;
	width: 98px;
	height: 105px;
	position: absolute;
	top: 2px;
	left: 5px;
	z-index: 3;
	transform: rotate(0deg);
}
.page__carcase2 {
	position: relative;
}
.carcase2-page__headlight--left {
	background-color: red;
	width: 30px;
	height: 30px;
	border-radius: 15px 5px 5px 10px;
	position: absolute;
	top: 120px;
	left: -45px;
	z-index: 3;
}
.page__headligh1 {
	background-color: rgb(255, 217, 0);
	width: 10px;
	height: 30px;
	border-radius: 5px 15px 15px 10px;
	position: absolute;
	top: 120px;
	left: -24px;
	z-index: 3;
}
.page__headligh1:hover {
	background-color: rgb(255, 187, 0);
	transform: scale(1.1,1.1);
}
.carcase2-page__headlight--left:hover {
	background-color: red;
	width: 30px;
	height: 30px;
	border-radius: 15px 5px 5px 10px;
	position: absolute;
	top: 120px;
	left: -45px;
	transform: scale(1.1,1.1);
}
.carcase2-page__headlight--left:hover::before {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 50px solid transparent;
	border-left: 50px solid transparent;
	border-bottom: 100px solid  rgba(255, 0, 0, 0.1);
	transform: rotate(90deg);
	position: absolute;
	top: -75px;
	left: -48px;
}
.carcase2-page__headlight--right {
	background-color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 5px 15px 15px 5px;
	position: absolute;
	top: 120px;
	right: 60px;
	z-index: 3;
}
.carcase2-page__headlight--right:hover {
	background-color: yellow;
	transform: scale(1.1,1.1);
}
.carcase2-page__headlight--right:hover::after {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 150px solid transparent;
	border-right: 350px solid transparent;
	border-bottom: 200px solid  rgba(255, 251, 0, 0.1);
	transform: rotate(-195deg);
	position: absolute;
	top: -24px;
	left: 35px;
}
.page__headligh2 {
	background-color: rgb(255, 217, 0);
	width: 10px;
	height: 35px;
	border-radius: 15px 5px 5px 15px;
	position: absolute;
	top: 120px;
	right: 90px;
	z-index: 3;
}
.page__headligh2:hover {
	background-color: rgb(255, 187, 0);
	transform: scale(1.1,1.1);
}
.page__doors {
	position: absolute;
	width: 150px;
	height: 138px;
	top: 100px;
	left: 102px;
	border: 3px solid #ece800;
	z-index: 3;
}
.page__doors2 {
	position: absolute;
	width: 150px;
	height: 138px;
	top: 100px;
	right: 202px;
	border: 3px solid #ece800;
	z-index: 3;
}
.page__window {
	position: absolute;
	width: 150px;
	height: 110px;
	top: -8px;
	left: 100px;
	background-color: #0c0c0c;
	border-radius: 150px 0 0 0;
	border: 3px solid #ece800;
	z-index: 3;
}
.page__window:hover {
	background: url("../img/people.webp") 0 0 / cover no-repeat;
}
.page__window2 {
	position: absolute;
	width: 150px;
	height: 110px;
	top: -8px;
	right: 200px;
	background-color: #0c0c0c;
	border: 3px solid #ece800;
	border-radius: 0 150px 0 0;
	z-index: 3;
}
.page__window2:hover {
	background: url("../img/people2.webp") 0 0 / cover no-repeat;
}
.page__window3 {
	position: absolute;
	top: -37px;
	left: 0;
	width: 450px;
	height: 218px;
	background-color: #5c5c5c;
	border: 3px solid rgba(216, 216, 213, 0.2);
	border-radius: 180px 180px 0 0;
	z-index: -1;
	transform: rotateX(45deg);
}
.page__window3:hover {
	background: url("../img/auto.webp") 0 0 / cover no-repeat;
}
.page__handle {
	position: absolute;
	top: 130px;
	left: 120px;
	width: 20px;
	height: 5px;
	border-radius: 16px;
	background-color: #000;
	z-index: 3;
}
.page__handle:hover {
	background-color: #1e1aff;
	transform: scale(1.5,1.5);
}
.page__handle2 {
	position: absolute;
	top: 130px;
	right: 310px;
	width: 20px;
	height: 5px;
	border-radius: 16px;
	background-color: #000;
	z-index: 3;
}
.page__handle2:hover {
	background-color: #1e1aff;
	transform: scale(1.5,1.5);
}
.page__cistern {
	position: absolute;
	top: 120px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	border: 2px solid #ece800;
	background-color: #222;
	z-index: 3;
}
.page__cistern:hover {
	transform: scale(1.1,1.1);
	background-color: #444;
}
.page__mirror {
	position: absolute;
	top: 90px;
	left: 380px;
	width: 25px;
	height: 25px;
	border-radius: 40px 70px 70px 40px / 0px 25px 25px 0px;
	background-color: #2300ec;
	z-index: 5;
}
.page__mirror:hover {
	background-color: #1b00b6;
	border: 2px dotted green;
}
.page__wrap2 {
	perspective: 400px;
	perspective-origin: center;
}
.page__spoiler {
	position: absolute;
	top: -140px;
	left: 580px;
	width: 20px;
	height: 80px;
	background-color: red;
	transform: rotateX(45deg);
	z-index: 2;
}
.page__spoiler2 {
	position: absolute;
	top: -79px;
	left: 554px;
	width: 20px;
	height: 20px;
	background-color: greenyellow;
	z-index: 3;
}
.page__spoiler3 {
	position: absolute;
	top: -120px;
	left: 602px;
	width: 20px;
	height: 20px;
	background-color: greenyellow;
	z-index: 1;
}
.page__spoiler4 {
	position: absolute;
	top: -86px;
	left: 588px;
	width: 10px;
	height: 40px;
	background-color: greenyellow;
	z-index: 1;
	transform: skewX(45deg);
}
.page__spoiler5 {
	position: absolute;
	top: -100px;
	left: 620px;
	z-index: 1;
	width: 10px;
	height: 50px;
	background-color: greenyellow;
	transform: skewX(45deg);
}