@import url("reset.css");

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
[class*="__container"] {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.header__content > * {
	margin-bottom: 15px;
}
.header__logo {
	background-color: #3056d3;
	padding: 28px;
}
.header__logo img {
	max-width: 100%;
}
.call {
	display: inline-block;
	background-color: #3056d3;
	padding: 13px;
	border-radius: 50%;
}
.call img {
	max-width: 100%;
}
/* --------------------------------- */
.images {
	margin-bottom: 10px;
}
.images img {
	width: 100%;
}
.button::before {
	content: "";
	background: url("../img/main/arrow_right.svg") 0 0 no-repeat;
	display: inline-block;
	width: 20px;
	height: 10px;
}
.content > * {
	margin-bottom: 10px;
}
.content > *:last-child {
	margin-bottom: 0px;
}
/* --------------------------------- */
.services {
	padding-top: 30px;
	padding-bottom: 30px;
}
.images2 img {
	max-width: 100%;
	border-radius: 15px;
}
.decor {
	background: url("../img/services/icons/dotted.svg") 0 0 / auto no-repeat;
	width: 105px;
	height: 110px;
}
/* --------------------------------- */
.offer {
	background-color: #f4f7ff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.icons {
	display: inline-block;
	background-color: #3056d3;
	width: 70px;
	height: 70px;
	border-radius: 15px;
}
.icons1 {
	padding: 18px;
}
.icons2 {
	padding: 24px 16px;
}
.icons3 {
	padding: 18px;
}
.icons4 {
	padding: 25px 18px;
}
.icons5 {
	padding: 18px 20px;
}
.icons6 {
	padding: 20px 18px;
}
.icons img {
	max-width: 100%;
}
/* --------------------------------- */
.project {
	padding-top: 30px;
	padding-bottom: 30px;
}
.images3 img {
	max-width: 100%;
	border-radius: 10px;
}
/* --------------------------------- */
.team {
	background-color: #f4f7ff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.images4 img {
	max-width: 100%;
	border-radius: 8px;
}
.decor2 {
	background: url("../img/team/icons/decor.svg") 0 0 no-repeat;
	width: 41px;
	height: 41px;
}
/* --------------------------------- */
.pricing {
	padding-top: 30px;
	padding-bottom: 30px;
}
.decor3 {
	background: #3056d3 url("../img/pricing/icons/blot.svg") 0 0 no-repeat;
	width: 162px;
	height: 200px;
}
.decor4 {
	background: #3056d3 url("../img/pricing/icons/blot_1.svg") 0 0 no-repeat;
	width: 92px;
	height: 222px;
}
.decor5 {
	background: url("../img/pricing/icons/oval.svg") 0 0 no-repeat;
	width: 55px;
	height: 55px;
}
.decor6 {
	background: url("../img/pricing/icons/oval_1.svg") 0 0 no-repeat;
	width: 55px;
	height: 55px;
}
/* --------------------------------- */
.clients {
	background-color: #3056d3;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}
.decor7 {
	background: url("../img/clients/decor.svg") 0 0 no-repeat;
	width: 49px;
	height: 49px;
}
.images5 img {
	max-width: 100%;
}
/* --------------------------------- */
.testimonials {
	background-color: #f4f7ff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.images6 {
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
}
.images6 img {
	max-width: 100%;
}
.decor8 {
	background: url("../img/testimonials/icons/ellipse.svg") 0 0 no-repeat;
	width: 179px;
	height: 195px;
}
.decor9 {
	background: url("../img/testimonials/icons/oval_2.svg") 0 0 no-repeat;
	width: 59px;
	height: 56px;
}
.decor10 {
	background: url("../img/testimonials/icons/oval_3.svg") 0 0 no-repeat;
	width: 29px;
	height: 26px;
}
.decor11 {
	background: url("../img/testimonials/icons/decor_1.svg") 0 0 no-repeat;
	width: 76px;
	height: 76px;
}
/* --------------------------------- */
.news {
	padding-top: 30px;
	padding-bottom: 30px;
}
.images7 img {
	max-width: 100%;
	border-radius: 5px;
}
/* --------------------------------- */
.quote {
	background-color: #090e34;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.decor12 {
	background: url("../img/quote/icons/ellipse.svg") 0 0 no-repeat;
	width: 190px;
	height: 170px;
}
.decor13 {
	background: url("../img/quote/icons/ellipse_1.svg") 0 0 no-repeat;
	width: 190px;
	height: 170px;
}
/* --------------------------------- */
.contacts {
	padding-top: 30px;
	padding-bottom: 30px;
}
.icons-1 {
	display: inline-block;
	background-color: #F7F8FA;
	padding: 51px 44px 50px;
	border-radius: 50%;
}
.icons-1 img,
.icons-2 img,
.icons-3 img {
	max-width: 100%;
}
.icons-2 {
	display: inline-block;
	background-color: #F7F8FA;
	padding: 45px 47px;
	border-radius: 50%;
}
.icons-3 {
	display: inline-block;
	background-color: #F7F8FA;
	padding: 42px 41px 41px 42px;
	border-radius: 50%;
}
.email {
	display: inline-block;
	background-color: #3056d3;
	padding: 18px 15px;
	border-radius: 0 8px 8px 0;
}
.icons7 img, 
.icons8 img, 
.icons9 img, 
.icons10 img {
	max-width: 100%;
}
.email img {
	max-width: 100%;
}