@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
.wrapper {
	overflow: clip;
	min-height: 100%;
	
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	color: #6c757d;
	font-weight: 300;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 100px;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
	gap: 10px;
}
.header__logo {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.39;
	color: #495057;
}
.header__logo::after {
	content: ".";
	color:#ddbea9;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 3px;
}
.menu__item .menu__link {
	position: relative;
	display: inline-block;
	font-weight: 500;
	color: rgba(73, 80, 87, 0.5);
	line-height: 208.333333%; /* 25/12 */
	transition: color 0.5s;
}
.menu__item:hover .menu__link {
	color: #495057;
	transition: all 0.5s;
}
.menu__link.active {
	color: #495057;
}
.menu__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.5s, left 0.5s;
	border-radius: 2px;
	background-color: #ddbea9;
}
.menu__link.active::before {
	width: 100%;
	left: 0;
}
.menu__link:hover::before {
	width: 100%;
	left: 0;
}
.menu__item--parent {
	position: relative;
}
.menu__item:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.sub-menu__list {
	background-color: #212529;
	border-radius: 5px;
	padding: 20px;
	min-width: 170px;
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.sub-menu__link {
	color: rgba(248, 249, 250, 0.6);
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	transition: color 0.5s;
}
.sub-menu__link:hover {
	color: #f8f9fa;
	transition: color 0.5s;
}
.actions-header {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	column-gap: 25px;
}
.actions-header__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: rgba(73, 80, 87, 0.5);
	transition: color 0.5s;
}
.actions-header__link:hover {
	color: #212529;
	transition: color 0.5s;
}
.menu-icon {
	display: none;
}
@media (max-width: 767.98px) {
	.header__container {
		min-height: 50px;
	}
}
@media (min-width: 660px) {
	.sub-menu {
		position: absolute;
		top: 100%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;
		padding-top: 10px;
		pointer-events: none;
	}
	.menu__item--parent::after {
		content: "";
		width: 8px;
		height: 5px;
		display: inline-block;
		margin: 0px 0px 0px 5px;
		background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
	}
}
@media (max-width: 660px) {
	.menu-icon {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color: #212529;
		transition: all 0.5s;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		margin-top: -0.5px;
	}
	.menu-open .menu-icon::before {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .menu-icon span {
		width: 0;
		left: 50%;
	}
	.header__menu {
		position: fixed;
		top: 0;
		left: -100%;
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #212529;
		padding: 70px 15px 20px 15px;
		transition: left 0.5s;
	}
	.menu__body::before {
		content: "";
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #fff;
		z-index: 1;
		transition: left 0.5s;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before {
		left: 0;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 20px;
	}
	.menu__item .menu__link {
		font-size: 20px;
		color: #fff;
	}
	.menu__link.active {
		color: #fff;
	}
	.sub-menu__list {
		padding: 10px 0px 0px 0px;
		min-width: 0;
	}
	.sub-menu__link {
		font-size: 16px;
	}
	.sub-menu__link.active {
		color: #fff;
	}
	.actions-header {
		column-gap: 10px;
	}
	.menu__item:hover .menu__link {
		color: #fff;
	}
	.actions-header__link {
		font-size: 16px;
	}
}
/* ======================================= */
.page {	
}
.page__main {
}
.page__topics {
}
/* ====================================== */
.main {
	display: flex;
	position: relative;
	padding-bottom: 100px;
	padding-top: 120px;
}
.main__container {
	position: relative;
	z-index: 2;
	flex: 1 1 auto;
}
.main__body {
	padding: 192px 0;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	flex: 1 1 auto;
}
.main__author {
	position: relative;
	z-index: 2;
	line-height: 1.67;
	color: #e5e5e5;
}
.main__title {
	position: relative;
	z-index: 2;
}
.main__image {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.main__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 5px;
}
@media (max-width: 991.98px) {
	.main {
		padding-top: 90px;
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.main {
		padding-top: 70px;
		padding-bottom: 50px;
	}
}
@media (max-width: 479.98px) {
	.main {
		padding-top: 50px;
		padding-bottom: 30px;
	}
}
/* ====================================== */
.topics {
	padding-bottom: 100px;
}
.topics__body {
	max-width: 1028px;
	margin: 0 auto;
	display: flex;
}
.topics__left-side {
	flex: 0 0 38.910506%; /* 400/1028 */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}
.topics__title {
	max-width: 393px;
}
.menu-topics__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.menu-topics__link {
	display: inline-block;
	font-weight: 500;
	line-height: 2.08;
	color: #495057;
	position: relative;
	padding-left: 19px;
	transition: color 0.5s;
}
.menu-topics__link::before {
	content: "+";
	position: absolute;
	left: 0;
	top: 0;
	transition: transform 0.5s;
}
.menu-topics__link:hover {
	color: #ddbea9;
}
.menu-topics__link:hover::before {
	transform: rotate(-90deg);
}
.search-topics::before  {
	content: "";
	display: inline-block;
	background: url("../img/search.svg") 0 0 / 100% no-repeat;
	width: 12px;
	height: 12px;
	margin-right: 10px;
}
.search-topics__input {
	outline: none;
}
.search-topics__input::placeholder {
	font-weight: 500;
	line-height: 2.08;
	color: rgba(73, 80, 87, 0.5);
}
.search-topics:hover{
	color: rgba(73, 80, 87, 1);
}
.topics__content {
	flex: 0 0 61.089494%;
	padding-left: 23px;
}
.topics__items {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.topics__items:not(:last-child) {
	margin-bottom: 60px;
}
.item-topic {
	display: flex;
	align-items: flex-start;
}
.item-topic__image {
	flex: 0 1 47.438017%; /* 287/605 */
	overflow: hidden;
}
.item-topic__image img {
	max-width: 100%;
	border-radius: 3px;
	transition: transform 0.5s;
}
.item-topic__image:hover img {
	transform: scale(1.05);
}
.item-topic__content {
	flex: 0 0 52.561983%; 
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.item-topic__date {
	font-weight: 300;
	line-height: 1.66; /* 20/12 */
	color: #6c757d;
}
.item-topic__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
}
.item-topic__link-title {
	transition: color 0.5s;
}
.item-topic__link-title:hover {
	color: #ddbea9;
	transition: color 0.5s;
}
.item-topic__text {
	font-weight: 300;
	line-height: 1.67;
	color: #6c757d;
}
.item-topic__footer {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	font-weight: 300;
	line-height: 167%;
	color: #6c757d;
}
.item-topic__author {
	transition: color 0.5s;
}
.item-topic__author:hover {
	color: #212529;
	text-decoration: underline;
	transition: all 0.5s;
}
.item-topic__like {
	background: url("../img/favorite.svg") left no-repeat;
	padding-left: 20px;
	transition: color 0.5s;
}
.item-topic__like:hover {
	color: #212529;
	text-decoration: underline;
	transition: all 0.5s;
}
.pagination-topic__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 10px;
}
.pagination-topic__link {
	font-weight: 500;
	position: relative;
	line-height: 2.08;
	color: rgba(73, 80, 87, 0.5);
	transition: color 0.5s;
}
.pagination-topic__link.active::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	border-radius: 5px;
	background-color: #ddbea9;
}
.pagination-topic__link.active,
.pagination-topic__link:hover {
	color: #495057;
	transition: color 0.5s;
}
@media (max-width: 991.98px) {
	.topics {
		padding-bottom: 70px;
	}
	.topics__body {
		flex-direction: column;
		gap: 30px;
	}
	.topics__left-side {
		flex: 1 1 100%;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.menu-topics {
		flex: 1 1 100%;
	}
	.menu-topics__list {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}
	.topics__content {
		padding: 0;
	}
	.topics__title {
		max-width: none;
	}
	.menu-topics__link {
		font-size: 16px;
	}
	.item-topic__image {
		flex: 0 1 auto; 
	}
}
@media (max-width: 767.98px) {
	.topics {
		padding-bottom: 50px;
	}
}
@media (max-width: 660px) {
	.topics__left-side {
		gap: 15px;
	}
	.topics__items {
		gap: 20px;
	}
	.topics__items:not(:last-child) {
		margin-bottom: 40px;
	}
	.search-topics::before  {
		content: "";
		display: inline-block;
		background: url("../img/search.svg") 0 0 / 100% no-repeat;
		width: 20px;
		height: 20px;
		line-height: 20px;
		margin-right: 10px;
	}
	.search-topics__input {
		line-height: 20px;
	}
	.search-topics__input::placeholder {
		font-size: 16px;
		line-height: 16px;
	}
	.item-topic {
		flex-direction: column;
		gap: 20px;
	}
	.item-topic__date,
	.item-topic__text,
	.item-topic__author,
	.item-topic__like {
		font-size: 14px;
  	}
	.pagination-topic__link.active,
	.pagination-topic__link {
		font-size: 14px;
	}
	.item-topic__content {
		padding-left: 0;
		flex: 1 1 auto;
	}
	.item-topic__image {
		width: 100%; 
	}
	.item-topic__image img {
		width: 100%;
	}
}
@media (max-width: 479.98px) {
	.topics {
		padding-bottom: 30px;
	}
	.topics__items:not(:last-child) {
		margin-bottom: 20px;
	}
	.pagination-topics__list {
		justify-content: center;
	}
}
/* ====================================== */
.footer {
	background-color: #212529;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer__body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 40px;
}
.footer__top::after {
	content: "";
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
	padding-bottom: 40px;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	row-gap: 3px;
}
.footer__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.39;
	color: #f8f9fa;
}
.footer__logo::after {
	content: ".";
	color: #ddbea9;
}
.menu-footer__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 3px;
}
.menu-footer__link {
	color: rgba(248, 249, 250, 0.5);
	line-height: 2.08;
	font-weight: 500;
	transition: all 0.5s;
}
.menu-footer__item:hover .menu-footer__link {
	color: #fff;
	transition: color 0.5s;
}
.social {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 3px;
}
.social__link {
	color: rgba(248, 249, 250, 0.5);
	line-height: 2.08;
	font-weight: 500;
	transition: all 0.5s;
}
.social__item:hover .social__link {
	color: #fff;
	transition: color 0.5s;
}
.footer__copy {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 3px;
}
.footer__address,
.footer__copyright {
	color: rgba(248, 249, 250, 0.5);
	line-height: 2.08;
	font-weight: 500;
}
@media (max-width: 991.98px) {
	.footer {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.footer {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media (max-width: 580px) {
	.footer__content {
		flex-direction: column;
		row-gap: 20px;
	}
}
@media (max-width: 479.98px) {
	.footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer__body {
		row-gap: 20px;
	}
	.footer__top::after {
		padding-bottom: 20px;
	}
	.footer__content {
		flex-direction: column;
		row-gap: 20px;
	}
	.menu-footer__list {
		display: block;
		text-align: center;
	}
	.menu-footer__list .menu-footer__item:not(:last-child) {
		margin-bottom: 15px;
	}
	.menu-footer__link {
		font-size: 20px;
	}
	.social__link {
		font-size: 16px;
	}
	.footer__copy {
		justify-content: center;
	}
}