@import url("reset.css");

h3 {
	color: blue;
}
span {
	color: black;
}
.title {
	color: goldenrod;
}
div.text6 {
	color: green;
}
.menu li {
	color: darkblue;
}
#h-1 {
	color: gray;
}
.list2 * {
	color: aqua;
}
.text5 p {
	color: red;
}
.text .textbody {
	color: brown;
}
.list > li > ul > li {
	color: red;
}
.text2>p {
	color: teal;
}
.text2~p {
	color: green;
}
.text4+p {
	color: sienna;
}

[class*="__container"] {
	color: black;
}
.text4 a {
	color: mediumblue;
}

.list > ul > li {
	color: red;
}